* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* FONTS START */
@font-face {
    font-family: BNazaninBold;
    src: url(../assets/fonts/B-Nazanin-Bold/B\ Nazanin\ Bold_0.ttf);
    src: url(../assets/fonts/B-Nazanin-Bold/BNazaninBold.woff);
    src: url(../assets/fonts/B-Nazanin-Bold/BNazaninBold.woff2);
}

@font-face {
    font-family: Gandom;
    src: url(../assets/fonts/Gandom/Gandom.ttf);
    src: url(../assets/fonts/Gandom/Gandom.woff);
    src: url(../assets/fonts/Gandom/Gandom.woff2);
}

/* FONTS END */

/* ANIMATION START */
@keyframes slideAnimation {
    0% {
        opacity: 0;
        transform: scale(1.4);
    }

    20% {
        opacity: 1;
        transform: scale(1.3);
    }

    40% {
        opacity: 1;
        transform: scale(1.2);
    }

    60% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/* ANIMATION END */

/* NAVBAR START */
header>div.container>nav>div.container-fluid>a>img {
    filter: brightness(0) invert(1);
}

header>div.container>nav>div.container-fluid>a>span {
    font-family: BNazaninBold;
    font-size: 35px;
    font-weight: 900;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a {
    color: white;
    font-size: 22px;
    font-family: BNazaninBold;
    transition-duration: 0.3s;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.home {
    color: #dd9746 !important;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.reserve-a>button.reserve {
    border: 2px solid white;
    transition: 0.4s;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.reserve-a>button.reserve>span {
    all: unset;
    color: white;
    font-weight: bold;
    font-size: 19px;
    font-family: BNazaninBold;
    transition: 0.4s;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.reserve-a>button.reserve>.bi-arrow-up-right {
    color: white;
    transition: 0.4s;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.reserve-a>button.reserve:hover {
    background-color: white;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a:hover,
header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.reserve-a>button.reserve:hover>span,
header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.reserve-a>button.reserve:hover>.bi-arrow-up-right {
    color: #dd9746;
}

/* NAVBAR END */

/* HEADER BACKGROUNDS AND CONTENT START */
div.backgraounds {
    width: 100%;
    height: 100vh;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: slideAnimation 12s infinite;
    animation-timing-function: linear;
}

.slideshow img:nth-child(1) {
    animation-delay: 0s;
}

.slideshow img:nth-child(2) {
    animation-delay: 4s;
}

.slideshow img:nth-child(3) {
    animation-delay: 8s;
}

header>div.backgraounds>div.container {
    margin-top: 190px;
    z-index: 1;
}

header>div.backgraounds>div.container>div.row {
    width: fit-content;
    height: fit-content;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.583);
}

header>div.backgraounds>div.container>div.row>em {
    font-family: Gandom;
    color: #c47f2fca;
    font-weight: lighter;
    word-spacing: 2px;
}

header>div.backgraounds>div.container>div.row>h1 {
    font-family: BNazaninBold;
    font-size: 78px;
}

header>div.backgraounds>div.container>div.row>p {
    font-family: Gandom;
    font-weight: lighter;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-1>button.menu {
    background-color: #c47f2f;
    transition: 0.3s;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-2>button.story>strong,
header>div.backgraounds>div.container>div.row>div.buttons>a.button-1>button.menu>strong {
    font-family: BNazaninBold;
    font-size: 21px;
    font-weight: bolder;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-1>button.menu:hover {
    background-color: #eaaa60;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-2>button.story {
    transition: 0.3s;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-2>button.story>strong {
    color: white;
    transition: 0.3s;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-2>button.story:hover {
    background-color: white;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-2>button.story:hover>strong {
    color: #c47f2f;
}

/* HEADER BACKGROUNDS AND CONTENT END */

/* SECTION-1 START */
div.section-1 {
    width: 100%;
    height: fit-content;
    background-color: #B68751;
}

div.section-1>div.container {
    width: 100%;
    height: fit-content;
}

div.section-1>div.container>div.text {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 65px;
}

div.section-1>div.container>div.text>em {
    font-family: Gandom;
    font-size: 17px;
    color: white;
}

div.section-1>div.container>div.text>h1 {
    font-family: BNazaninBold;
    font-size: 60px;
    margin-top: 10px;
    color: white;
}

div.section-1>div.container>div.baristas>div.photo-1,
div.section-1>div.container>div.baristas>div.photo-2,
div.section-1>div.container>div.baristas>div.photo-3,
div.section-1>div.container>div.baristas>div.photo-4 {
    width: 300px;
    height: fit-content;
    bottom: 50px;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
}

div.section-1>div.container>div.baristas>div.photo-1>img,
div.section-1>div.container>div.baristas>div.photo-2>img,
div.section-1>div.container>div.baristas>div.photo-3>img,
div.section-1>div.container>div.baristas>div.photo-4>img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.4s ease;
    transform: scale(1.1);
}

div.section-1>div.container>div.baristas>div.photo-1:hover>img,
div.section-1>div.container>div.baristas>div.photo-2:hover>img,
div.section-1>div.container>div.baristas>div.photo-3:hover>img,
div.section-1>div.container>div.baristas>div.photo-4:hover>img {
    transform: scale(1.3);
}

div.section-1>div.container>div.baristas>div.photo-1>div.overlay,
div.section-1>div.container>div.baristas>div.photo-2>div.overlay,
div.section-1>div.container>div.baristas>div.photo-3>div.overlay,
div.section-1>div.container>div.baristas>div.photo-4>div.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(188, 108, 37, 1));
}

div.section-1>div.container>div.baristas>div.photo-1>div.overlay>div.the-head,
div.section-1>div.container>div.baristas>div.photo-2>div.overlay>div.the-head,
div.section-1>div.container>div.baristas>div.photo-3>div.overlay>div.the-head,
div.section-1>div.container>div.baristas>div.photo-4>div.overlay>div.the-head {
    bottom: 80px;
    right: 30px;
    margin-bottom: 10px;
    text-align: right;
}

div.section-1>div.container>div.baristas>div.photo-1>div.overlay>div.the-head>h4,
div.section-1>div.container>div.baristas>div.photo-2>div.overlay>div.the-head>h4,
div.section-1>div.container>div.baristas>div.photo-3>div.overlay>div.the-head>h4,
div.section-1>div.container>div.baristas>div.photo-4>div.overlay>div.the-head>h4 {
    color: white;
    font-family: BNazaninBold;
    font-size: 45px;
}

div.section-1>div.container>div.baristas>div.photo-1>div.overlay>div.the-head>em,
div.section-1>div.container>div.baristas>div.photo-2>div.overlay>div.the-head>em,
div.section-1>div.container>div.baristas>div.photo-3>div.overlay>div.the-head>em,
div.section-1>div.container>div.baristas>div.photo-4>div.overlay>div.the-head>em {
    background-color: #e07a1b;
    color: white;
    height: fit-content;
    width: fit-content;
    padding: 7px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    font-family: Gandom;
    font-size: 13px;
}

div.section-1>div.container>div.baristas>div.photo-1>div.overlay>div.the-text,
div.section-1>div.container>div.baristas>div.photo-2>div.overlay>div.the-text,
div.section-1>div.container>div.baristas>div.photo-3>div.overlay>div.the-text,
div.section-1>div.container>div.baristas>div.photo-4>div.overlay>div.the-text {
    bottom: 28px;
    right: 30px;
    text-align: right;
}

div.section-1>div.container>div.baristas>div.photo-1>div.overlay>div.the-text>p,
div.section-1>div.container>div.baristas>div.photo-2>div.overlay>div.the-text>p,
div.section-1>div.container>div.baristas>div.photo-3>div.overlay>div.the-text>p,
div.section-1>div.container>div.baristas>div.photo-4>div.overlay>div.the-text>p {
    color: white;
    font-family: Gandom;
    font-size: 17px;
}

/* SECTION-1 END */

/* SECTION-2 START */
div.section-2 {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/happy-waitress-giving-coffee-customers-while-serving-them-coffee-shop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.section-2>div.container>div.row>div.breakfast>div.menu,
div.section-2>div.container>div.row>div.coffee>div.menu {
    background-color: rgba(0, 0, 0, 0.666);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
    margin-top: 20px;
}


div.section-2>div.container>div.row>div.breakfast>div.menu>h6,
div.section-2>div.container>div.row>div.coffee>div.menu>h6 {
    font-size: 45px;
    font-family: BNazaninBold;

}

div.section-2>div.container>div.row>div.breakfast>div.menu>em,
div.section-2>div.container>div.row>div.coffee>div.menu>em {
    font-size: 14px;
    font-family: Gandom;
    color: rgba(255, 255, 255, 0.79);

}

.menu span.price {
    font-family: Gandom;
    font-weight: bolder;
    font-size: large;
    color: #ffbb80;
}

.menu del {
    color: white;
    font-weight: unset;
}

.menu .item-name {
    font-family: Gandom;
    font-weight: bolder;
    font-size: 20px;
}

.menu small {
    color: #aaa;
    font-size: 14px;
    font-family: Gandom;
}

.menu .badge-warning {
    margin-right: 10px;
    background-color: #e3812c;
    color: white;
}

.menu ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}

.menu ul li:last-child {
    border-bottom: none;
}

/* SECTION-2 END */

/* SECTION-3 START */
div.section-3 {
    width: 100%;
    height: fit-content;
    background-color: #7C5B52;
}

.custom-card {
    background-color: #c29e74;
    border-radius: 15px;
    overflow: hidden;
    color: white;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #362d27;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: url(../assets/images/mid-section-waitress-wiping-espresso-machine-with-napkin-cafa-c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    text-align: center;
    margin-top: 10px;
}

.card-title {
    font-size: 1.9rem;
    font-weight: bold;
    font-family: BNazaninBold;
}

.card-text {
    margin-bottom: 10px;
    font-family: Gandom;
}

.rating-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b88653;
    padding: 10px;
    border-radius: 10px;
}

.rating-text {
    font-size: 1.1rem;
}

/* SECTION-3 END */

/* FOOTER START */
.footer {
    background: rgb(210, 145, 127);
    background: linear-gradient(0deg, rgba(210, 145, 127, 1) 0%, rgba(124, 91, 82, 1) 100%);
    color: white;
}

.footer .social-icons i {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer .social-icons i:hover {
    color: #ffae66;
}

.footer ul {
    list-style-type: none;
    padding-left: 0;
}

.footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.834);
}

.footer a:hover {
    color: #ffae66;
}

.content {
    text-align: center;
}

footer span {
    font-family: BNazaninBold;
    font-size: 18px;
}

footer p {
    font-family: Gandom;
}

footer strong {
    font-size: 17px;
}

p.address {
    font-weight: bolder;
}

/* FOOTER END */

/* MEDIA START */
@media (max-width: 768px) {
    .profile-section {
        flex-direction: row;
        justify-content: center;
    }

    .profile-info {
        margin-left: 15px;
    }
}

@media (min-width: 554px) {
    .menu-container {
        display: flex;
        justify-content: space-between;
    }

    div.section-2 {
        height: fit-content;
    }
}

/* MEDIA END */