* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* @keyframes slideAnimation {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
} */

@media (max-width: 768px) {
    header>div.backgraounds {
        background-size: cover;
    }

    header>div.backgraounds>div.container>div.row {
        margin-bottom: 80px;
    }
}


@font-face {
    font-family: BNazaninBold;
    src: url(../assets/fonts/B-Nazanin-Bold/B\ Nazanin\ Bold_0.ttf);
    src: url(../assets/fonts/B-Nazanin-Bold/BNazaninBold.woff);
    src: url(../assets/fonts/B-Nazanin-Bold/BNazaninBold.woff2);
}

@font-face {
    font-family: Gandom;
    src: url(../assets/fonts/Gandom/Gandom.ttf);
    src: url(../assets/fonts/Gandom/Gandom.woff);
    src: url(../assets/fonts/Gandom/Gandom.woff2);
}


/* navbar start */
header>div.container>nav>div.container-fluid>a>img {
    filter: brightness(0) invert(1);
}

header>div.container>nav>div.container-fluid>a>span {
    font-family: BNazaninBold;
    font-size: 35px;
    font-weight: 900;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a {
    color: white;
    font-size: 22px;
    font-family: BNazaninBold;
    transition-duration: 0.3s;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.home {
    color: #dd9746 !important;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.reserve-a>button.reserve {
    border: 2px solid white;
    transition: 0.4s;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.reserve-a>button.reserve>span {
    all: unset;
    color: white;
    font-weight: bold;
    font-size: 19px;
    font-family: BNazaninBold;
    transition: 0.4s;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.reserve-a>button.reserve>.bi-arrow-up-right {
    color: white;
    transition: 0.4s;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.reserve-a>button.reserve:hover {
    background-color: white;
}

header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a:hover,
header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.reserve-a>button.reserve:hover>span,
header>div.container>nav>div.container-fluid>div.navbar-collapse>div.links>a.reserve-a>button.reserve:hover>.bi-arrow-up-right {
    color: #dd9746;
}

/* navbar end */

/* header backgrounds and content start */
div.backgraounds {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/happy-waitress-giving-coffee-customers-while-serving-them-coffee-shop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

header>div.backgraounds>div.container {
    margin-top: 190px;
}

header>div.backgraounds>div.container>div.row {
    width: fit-content;
    height: fit-content;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.583);
}

header>div.backgraounds>div.container>div.row>em {
    font-family: Gandom;
    color: #c47f2fca;
    font-weight: lighter;
    word-spacing: 2px;
}

header>div.backgraounds>div.container>div.row>h1 {
    font-family: BNazaninBold;
    font-size: 78px;
}

header>div.backgraounds>div.container>div.row>p {
    font-family: Gandom;
    font-weight: lighter;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-1>button.menu {
    background-color: #c47f2f;
    transition: 0.3s;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-2>button.story>strong,
header>div.backgraounds>div.container>div.row>div.buttons>a.button-1>button.menu>strong {
    font-family: BNazaninBold;
    font-size: 21px;
    font-weight: bolder;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-1>button.menu:hover {
    background-color: #eaaa60;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-2>button.story {
    border: 2ps solid white;
    transition: 0.3s;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-2>button.story>strong {
    color: white;
    transition: 0.3s;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-2>button.story:hover {
    background-color: white;
}

header>div.backgraounds>div.container>div.row>div.buttons>a.button-2>button.story:hover>strong {
    color: #c47f2f;
}

/* header backgrounds and content end */

/* section-1 start */
div.section-1 {
    width: 100%;
    height: fit-content;
    background-color: #B68751;
}

div.section-1>div.container {
    width: 100%;
    height: fit-content;
}

div.section-1>div.container>div.text {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 65px;
}

div.section-1>div.container>div.text>em {
    font-family: Gandom;
    font-size: 17px;
    color: white;
}

div.section-1>div.container>div.text>h1 {
    font-family: BNazaninBold;
    font-size: 60px;
    margin-top: 10px;
    color: white;
}

div.section-1>div.container>div.baristas>div.photo-1,
div.section-1>div.container>div.baristas>div.photo-2,
div.section-1>div.container>div.baristas>div.photo-3,
div.section-1>div.container>div.baristas>div.photo-4 {
    width: fit-content;
    bottom: 50px;
}

div.section-1>div.container>div.baristas>div.photo-1>img,
div.section-1>div.container>div.baristas>div.photo-2>img,
div.section-1>div.container>div.baristas>div.photo-3>img,
div.section-1>div.container>div.baristas>div.photo-4>img {
    object-fit: cover;
    width: 300px;
    height: fit-content;
    border-radius: 20px;
}

div.section-1>div.container>div.baristas>div.photo-1>div.overlay,
div.section-1>div.container>div.baristas>div.photo-2>div.overlay,
div.section-1>div.container>div.baristas>div.photo-3>div.overlay,
div.section-1>div.container>div.baristas>div.photo-4>div.overlay {
    top: 0;
    width: 300px;
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(188, 108, 37, 1));
}

div.section-1>div.container>div.baristas>div.photo-1>div.overlay>div.the-head,
div.section-1>div.container>div.baristas>div.photo-2>div.overlay>div.the-head,
div.section-1>div.container>div.baristas>div.photo-3>div.overlay>div.the-head,
div.section-1>div.container>div.baristas>div.photo-4>div.overlay>div.the-head {
    bottom: 80px;
    right: 30px;
}

div.section-1>div.container>div.baristas>div.photo-1>div.overlay>div.the-head>h4,
div.section-1>div.container>div.baristas>div.photo-2>div.overlay>div.the-head>h4,
div.section-1>div.container>div.baristas>div.photo-3>div.overlay>div.the-head>h4,
div.section-1>div.container>div.baristas>div.photo-4>div.overlay>div.the-head>h4 {
    color: white;
    font-family: BNazaninBold;
    font-size: 45px;
}

div.section-1>div.container>div.baristas>div.photo-1>div.overlay>div.the-head>em,
div.section-1>div.container>div.baristas>div.photo-2>div.overlay>div.the-head>em,
div.section-1>div.container>div.baristas>div.photo-3>div.overlay>div.the-head>em,
div.section-1>div.container>div.baristas>div.photo-4>div.overlay>div.the-head>em {
    background-color: #e07a1b;
    color: white;
    height: fit-content;
    width: fit-content;
    padding: 7px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    font-family: Gandom;
    font-size: 13px;
}

div.section-1>div.container>div.baristas>div.photo-1>div.overlay>div.the-text,
div.section-1>div.container>div.baristas>div.photo-2>div.overlay>div.the-text,
div.section-1>div.container>div.baristas>div.photo-3>div.overlay>div.the-text,
div.section-1>div.container>div.baristas>div.photo-4>div.overlay>div.the-text {
    bottom: 28px;
    right: 30px;
}

div.section-1>div.container>div.baristas>div.photo-1>div.overlay>div.the-text>p,
div.section-1>div.container>div.baristas>div.photo-2>div.overlay>div.the-text>p,
div.section-1>div.container>div.baristas>div.photo-3>div.overlay>div.the-text>p,
div.section-1>div.container>div.baristas>div.photo-4>div.overlay>div.the-text>p {
    color: white;
    font-family: Gandom;
    font-size: 17px;
}

/* section-1 end */

/* section-2 start */
div.section-bg{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/happy-waitress-giving-coffee-customers-while-serving-them-coffee-shop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}